.card__content {
  background-color: var(--Neutral-White);
  padding: 1.7857142857142858rem;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.3rem;
  max-width: 350px;
}

@media screen and (min-width: 650px) {
  .card__content {
    min-width: 300px;
    border-radius: 0 8px 8px 0;
    padding: 2.142857142857143rem 1.7857142857142858rem;
  }
}